{{ form_start(form) }}
    <small class="text-secondary">@TODO: hide/display details section depending on category </small>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
